@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["Title1"] != null)
{
    <p>@ViewData["Title1"]</p>

}
<div class="text-center">
    <a href="/blog" class="btn btn-link">Go To Blog Page</a>
    <a href="/blogAjax" class="btn btn-link">Go To Blog Ajax Page</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

